*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
  margin: 0;
}

/* #region TEG */
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  padding: 120px 0;
}

.container {
  display: flex;
  padding: 0 15px;
  margin: 0 auto;
  width: 1158px;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

/* #endregion */

/* #region heder */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
}

.logo-color {
  color: #2e2f42;
}

.container-header {
  justify-content: space-around;
  align-items: center;
}

.nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  padding: 24px 0;
}

.header-nav {
  display: flex;
  gap: 76px;
}

.nav-link {
  font-weight: 500;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-item {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.address-link {
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* #endregion */

/* #region welcome */
.welcome-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.welcome-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: white;
}

.button-wel {
  cursor: pointer;
  background: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 48px auto 0;
}

.button-wel:hover,
.button-wel:focus {
  background: #404bbf;
}

/* #endregion */

/* #region descriotion */

.descr-container {
  align-content: center;
}

.descr-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.descr-item {
  flex-basis: calc((100% - 72px) / 4);
}

.descr-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.descr-text {}

/* #endregion */

/* #region team */

.team-section {
  background: #f4f4fd;
}

.team-container {
  flex-direction: column;
}

.team-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.team-photo {
  background-color: white;
  flex-basis: calc((100% - 72) / 4);
  display: flex;
  flex-direction: column;
}

.thumb-team-member {
  height: 260px;
}

.team-member {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  text-align: center;
  padding: 32px 0 8px;
}

.team-profession {
  text-align: center;
  padding-bottom: 32px;
}

/* #endregion */

/* #region portfolio */

.portfolio-section {}

.portfolio-container {
  flex-direction: column;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

}

.portfolio-item {
  flex-basis: calc((100% - 48) / 3);
}

.thumb-port-item {
  height: 300px;
}

.port-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio-border {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {}

/* #endregion */

/* #region footer */
.footer {
  background: #2e2f42;
}

.container-footer {
  flex-direction: column;
  margin-left: 156px;
  padding: 100px 0;
  width: 264px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}

.logo-color-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  margin-top: 8px;
}

/* #endregion */